<%- include('partials/header') %>

<div class="container-fluid flex-grow-1 d-flex flex-column justify-content-center align-items-center pb-5">
    <h1 class="display-4">Nada para ver aqui...</h1>
    <p>Sugiro ir para a página <a href="/apod">APOD</a>.</p>
</div>

<%- include('partials/footer') %>